<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorial05">

    <application
        android:allowBackup="true"
        android:icon="@drawable/micon"
        android:label="@string/app_name09"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FileManagement" android:parentActivityName=".Welcome"></activity>
        <activity android:name=".Welcome" />
        <activity
            android:name=".Signup"
            android:label="@string/signup_txt"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Display"
            android:parentActivityName=".Signup" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>